body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icono {
    width: 30px;
}

h3 {
    text-align: center;
}

.quienes-somos {
    background-color: #000;
    color: blanchedalmond;
    text-align: justify;
    padding: 20px;
}

.destacados {
    background-color: #000;
    color: #ffff;
    text-align: center;
    padding: 20px;
}

.contacto {
    background-color: #000;
    color: #ffff;
    padding: 20px;
}

footer {
    background-color: aqua;
    color: #ffff;
    padding: 10px;
}

.linea {
    background-color: aqua;
    text-align: center;
}
